* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
}
.wrapper {
    overflow-y: hidden;
}
#line {
    display: none;
}
.line {
    border-bottom: 1px solid rgb(216, 216, 216);
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: -1;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6, th {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: normal;
}
body {
    background: rgb(205, 232, 255);
    background: linear-gradient(
      177deg,
      rgba(255, 150, 101, 0.158) 0%,
      rgb(255, 254, 253) 25%
    );
    color: rgb(100, 100, 100);
    overflow-x: hidden;
}
header {
   width: 100%;
   height: fit-content;
   border-bottom: 1px solid rgb(216, 216, 216); 
   display: flex;
   flex-direction: row;
}
.main-info {
    width: 30%;
    height: fit-content;
    border-right: 1px solid rgb(216, 216, 216);
    padding: 30px 60px;
}
.secondary-info {
    width: 70%;
    padding: 30px 60px;
}
.main-info h1 {
    margin-top: 20px;
}
.thumbnail {
    height: 200px;
    width: 200px;
    z-index: 1;
    border-radius: 50%;
    background: url('assets/images/profile.jpg');
    background-size: cover;
    box-shadow: 0 20px 40px rgba(0,0,0,.1);
    animation: floatImage ease-in-out 7s infinite, scale 2.3s ease-out;    
}
.secondary-info h1 {
    font-family: 'Roboto Mono', monospace;
}
.secondary-info h1 img {
    transform: scale(0.7);
    position: relative;
    top: 13px;
}
.secondary-info address {
    margin-top: 50px;
}
.secondary-info address a {
    display: block;
}
main {
    display: block;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}
aside {
    width: 30%;
    height: fit-content;
    border-right: 1px solid rgb(216, 216, 216);
    
}
table {
    border-collapse: collapse;
    width: 70%;
    padding: 30px 60px;
  }
  th {
      font-size: 24px;
  }
  td {
      border: 1px solid rgb(216, 216, 216);
  }
  td:nth-child(odd) {
      border-left: none;
  }
  td p {
      font-family: 'Roboto Mono';
  }
  td, th {
    text-align: left;
    padding: 30px 20px;
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  th {
      font-family: 'Yeseva One';
  }
  .title {
      text-transform: uppercase;
      font-family: inherit;
      font-size: 14px;
  }
  .title:first-child {
    font-weight: bold;
    padding-bottom: 10px;
  }
  aside .section {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 30px 60px;
  }
  aside .section h2 {
      padding-bottom: 20px;
  }
  .info {
      padding-bottom: 5px;
  }
  .info:nth-child(2){
      font-weight: bold;
      text-transform: uppercase;
  }
  .skills {
      padding-bottom: 30px;
  }
  .skills ul {
      list-style: none;
      margin-top: 10px;
  }
  .skills ul li {
      padding-bottom: 10px;
  }
  
  .box {
    height: 1298px;
    position: absolute;
    top: 0;
    z-index: 50;
    width: 50%;}
    
    #box1 {
      background: #fff;
      right: 50%;
    }
    
    #box2 {
      background-color: #ffffff;
      right: 0;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
    }
    .links a{
        border: 1px solid rgb(216, 216, 216);
        width: fit-content;
        padding: 10px 16px;
    }
    .links a:nth-child(2) {
        border-left: none;
        border-right: none;
    }
    .links a img{
        width: 100px;
        height: 30px;
    }
@media(max-width: 768px) {
    .box {
        height: 2283px;
    }
    header {
        flex-direction: column;
    }
    #line {
        display: block;
        width: 1200px;
        border: 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;
        border-image-slice: 3;
        border-width: 0.2px;
        border-image-source:linear-gradient(177deg, rgba(216, 216, 216, 0.6) 60%, rgba(0 ,0, 0, 0));
        height: 50px;
        transform: rotate(90deg);
        position: absolute;
        left: -360px;
        top: 250px;
    }
    #line:nth-child(1) {
        left: -500px;
    }
    #line:nth-child(2) {
        left: -450px;
    }
    .links {
        flex-direction: column;
    }
    .links a{
        margin: 0px auto; 
    }
    .links a:nth-child(2) {
        border: 1px solid rgb(216, 216, 216);
        border-top: none;
        border-bottom: none;
    }
    .main-info {
        width: 100%;
        padding: 20px 20px;
    }
    .secondary-info {
        width: 100%;
        padding: 0px 20px;
        padding-bottom: 30px;
    }
    .secondary-info h1 {
        font-size: 20px;
    }
    .secondary-info h1 img{
        position: relative;
        top: 15px;
        transform: scale(0.6);
    }
    .main-info h1 {
        margin-top: 50px;
    }
    main {
        flex-direction: column;
    }
    aside {
        width: 100%;
    }
    aside .section {
        padding: 30px 20px;
    }
    table {
        width: 100%;
    }
}

@keyframes floatImage {
    0% {
        transform: translate(-2%, 1%);
    }
    33% {
        transform: translate(0%, 0%);
    }
    66% {
        transform: translate(2%, -1%);
    }
    100% {
        transform: translate(-2%, 1%);
    }
}

@keyframes scale {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
